.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding-top: 300px; /* 고정된 헤더 높이만큼 패딩을 추가 */
}

.fixed-header {
  position: fixed;
  top: 100px; /* 화면 위에서 100px 떨어진 곳에 고정 */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.column-input {
  margin-top: 10px;
}

.seat-wrapper {
  margin-top: 20px; /* 텍스트 박스와 좌석 배열 간의 간격 조정 */
  display: flex;
  flex-direction: column; /* 칠판과 좌석 컨테이너를 세로로 배치 */
  align-items: center;
  width: 100%;
}

.screen {
  width: 20%; /* 스크린(칠판)을 좌석 컨테이너 너비에 맞춤 */
  height: 30px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* 스크린과 좌석 컨테이너 간의 간격 */
}

.seat-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 50px); /* 8열로 고정 */
  justify-content: center; /* 가운데 정렬 */
}

.seat {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 2px solid #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat.reserved {
  background-color: #ff6347;
}

.seat.available:hover {
  background-color: #add8e6;
}

input[type="number"] {
  width: 50px;
  margin-left: 10px;
}

.cancel-seat-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
}

.cancel-seat-button:hover {
  background-color: #ff4500;
}
